h1{
color:#CCCCCC;
font-family:Impact;
font-size: 36px;
text-decoration: none;
text-align: center;




}
h1:hover{

font-size: 36px;
color: red;
text-decoration: none;


}
div {
border:groove #708090;
border-radius: 5px;
height:145px;
width:250px;
margin: auto;
margin-top: 50px

}
span {

font-weight: bolder;



}
#div_background {
background-color: #B2B2B2;


}
.background {
position: fixed;

}
