* {
padding: 10px


}

h1{
color:black;
font-family:Impact;
font-size: 36px;
text-decoration: none;
text-align: center;
margin-top: 50px;




}
h3{
color: #99FF00;



}
h5{
color:#2a2a2a;


}
h1:hover{

font-size: 36px;
color: red;
text-decoration: none;


}
div {


height:145px;
width:250px;
margin: auto;
margin-top: 50px;

}
span {

font-size: 37px;



}
body {
background-position: fixed;


}
#navbar {
	position:fixed;

  float:right;
}


ul{
	list-style-type: none;
	position: fixed;
	margin: auto;
}

li {
	display:inline;

	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: white;
	border-radius: 5px 5px;
	background-color: #cc0323;
	margin:auto;
}
p{
text-indent: 50px;
font-family: sans-serif;
}
a {
text-decoration: none;

}
